<!DOCTYPE html>
<html>

<head>
	<title>{{ title }}</title>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
<h2>Feeds</h2>
{{ error.message }}
<table>
{% for feed in feeds %}
	<tr>
		<td title="{{ feed.title }}">
			<a href="extfeeds/{{ feed.id }}" class="item" title="{{ feed.title }}">
			    {{ feed.title }}
			</a>
		</td>
		<td>
			<form name="delete" action="extfeeds/{{feed.id}}/delete" method="post">
				<!-- TODO: RESTify  -->
				<input type="hidden" name="item", value="{{feed.id}}">
				<input type="submit" value="Delete" class="deletebtn" title="Remove feed">
			</form>
		</td>
	</tr>
{% endfor %}

</table>
<br>
<h2>Add new</h2>
<div id="newitem">
	<form name="newextfeed" action="extfeeds" method="post">
		<label for="url">URL</label>
		<input type="text" id="url" name="url">
		<input class="buttonsubmit" type="submit" value="Add">
	</form>
</div>
<br>
<div>
<a href="/">Home</a> <a href="/logout">Logout</a>
</div>

</body>

</html>
